/* Add here all your css styles (customizations) */
* {
  font-family: "Noto Sans KR", "Nanum Gothic", "dotum", "돋움", sans-serif !important;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
html:lang(zh) * {
  font-family: "Noto Sans SC", sans-serif !important;
}
.revolution-mch-1 .tp-caption span {
  color: #993333;
  font-size: 28px;
  font-weight: bold;
}
.scene2-text1 {
  font-size: 60px;
  color: #665752;
  letter-spacing: -4px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.scene6-text1 {
  font-size: 60px;
  color: #4b5069;
  letter-spacing: -4px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.scene2-text1 strong {
  color: #8c6759;
}
.scene6-text1 strong {
  color: #3c6084;
}
.scene2-text2 {
  color: #53656a;
  font-size: 16px;
  line-height: 1.4;
}
.scene3-text2,
.scene5-text2 {
  text-align: right !important;
}
.scene5-text2 {
  margin-right: -15px !important;
}
.scene5-text1 {
  font-size: 60px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.scene-textBtn,
.default-btn {
  background-color: rgba(207, 69, 69, 0.9) !important;
  border: none !important;
  padding: 4px 12px 5px 12px !important;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.featureVodDisc {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.7;
}
.featureVodDisc strong {
  color: rgba(207, 69, 69, 0.8);
  letter-spacing: -2px;
  font-size: 32px;
  font-weight: normal;
}
ul.keyfeature {
  display: block;
  margin: 12px 0 0 0;
}
ul.keyfeature li {
  padding-bottom: 9px;
  font-size: 13px;
}
ul.keyfeature li::before {
  content: "";
  width: 9px;
  height: 9px;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgba(207, 69, 69, 0.5);
}
.focusColor {
  color: #e75e5e;
  font-size: 20px;
}
.focusColor1 {
  color: #aaa;
  font-size: 16px;
}
.darkColor {
  color: #333 !important;
}
.carousel-arrow .carousel-control {
  opacity: 0.3;
  font-weight: 100;
  color: #fff;
}
.carousel-arrow .carousel-control:hover {
  opacity: 1;
}

.customNavigation {
  display: none;
}

.content-boxes-v5:hover i {
  background-color: rgba(207, 69, 69, 0.9);
}

.functionList li {
  text-align: left;
}
.functionList .headline-brd {
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.functionList .headline-left .headline-brd:after {
  background-color: rgba(207, 69, 69, 0.9);
}
.functionList .thumbnail {
  border: 1px solid #ddd;
  height: 160px;
}
.functionList.function-report .thumbnail {
  height: 500px;
}
.video-description a {
  color: #687074;
  font-size: 18px;
}
.video-description .gender {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 3px;
  color: #585858;
  font-size: 15px;
}
.video-description .duration {
  font-size: 12px;
}
.video-description .duration i {
  color: rgba(207, 69, 69, 0.7);
}
.video-list .item {
  margin: 0;
}
.illustration-v2 .video-list .add-to-cart {
  top: -20px;
}
lottie-player {
  width: 155px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 1015px) {
  .customNavigation {
    display: block;
  }
}

.customNavigation .owl-btn.prev {
  padding-left: 6px;
  font-family: "Tahoma" !important;
  text-decoration: none;
}
.customNavigation .owl-btn.next {
  padding-left: 8px;
  font-family: "Tahoma" !important;
}
.weProvide .overflow-h {
  text-align: left;
}
.weProvide h3,
.detailFeature h3 {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.7;
}
.factoryModule .col-md-4 {
  min-height: 210px;
}
.factoryModule li::before {
  content: "";
  display: block;
  float: left;
  width: 3px;
  height: 3px;
  margin-top: 9px;
  margin-right: 7px;
  background-color: rgba(209, 74, 76, 0.7);
}
.factoryModule li {
  margin-bottom: 4px;
  text-align: left;
  font-size: 15px;
}

.cover-img-container img {
  width: 100%;
}
.thingsboard-boards.cube-portfolio .cbp-caption-defaultWrap img {
  border: 1px solid #e4e4e4;
}
.cbp-l-filters-text .cbp-filter-item {
  font-size: 16px;
}
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active,
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover {
  color: rgba(207, 69, 69, 1);
  font-weight: bold;
}
.contact hr {
  margin: 15px 0;
}
.redBar {
  background-color: #d14a4c;
  padding: 20px;
  color: #fff;
}
.redBar h1 {
  font-weight: bold;
  color: #fff;
}
.thumbnail-cell .thumbnails {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.thumbnail-cell h3 {
  margin: 0 0 1px 0;
}
.thumbnail-cell h3 a {
  font-size: 15px;
}
.thumbnail-cell .caption p {
  margin-bottom: 2px;
  font-size: 11px;
}
.our-clients li {
  width: 150px;
}
.our-clients figure img {
  padding: 3px 10px;
  width: initial;
}
.our-clients figure .img-hover {
  background-color: #d14a4c !important;
  line-height: 1.3 !important;
}
.our-clients figure .img-hover h4 {
  line-height: 1.3 !important;
  margin: 15px auto 0 auto;
  display: block !important;
}
.our-clients figure .img-hover a {
  display: block !important;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
}
.labelArch img,
.labelscreen img,
.rtlsArch img,
.mesArch img {
  max-width: 1000px;
  width: 100%;
}
.fullSize img {
  width: 100%;
}
.labelscreen img {
  width: 800px !important;
  max-width: 100%;
  border: 3px solid #999;
  margin: auto;
  margin-bottom: 15px;
}
.labelscreen.content-md {
  padding-top: 0;
}
.labelscreen.content-md div.item {
  text-align: center;
}
.labelscreen .owl-controls {
  position: relative;
  margin: auto;
  width: 70%;
  top: -50px;
}
.labelscreen .owl-controls .fa-chevron-left:before {
  content: "<";
  display: block;
  border-radius: 50%;
  border: 1px solid #999;
  width: 25px;
  height: 25px;
  margin-top: -30px;
  position: absolute;
  font-size: 22px;
  text-align: center;
  color: #999;
}
.labelscreen .owl-controls .fa-chevron-right:before {
  content: ">";
  display: block;
  border-radius: 50%;
  border: 1px solid #999;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-top: -50px;
  font-size: 22px;
  text-align: center;
  color: #999;
}
.link-issues {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  background-color: rgba(207, 69, 69, 1);
  position: absolute;
  margin-top: -50px;
  right: 10%;
  z-index: 100;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
.link-issues a {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.2;
  text-transform: capitalize;
}
.link-issues strong {
  display: block;
}
.link-issues a i {
  display: block;
  margin-top: 5px;
  transition: all 1s ease;
}
.link-issues a:hover {
  text-decoration: none;
}
.link-issues:hover {
  width: 115px;
  height: 115px;
}
.link-issues:hover a {
  font-size: 21px;
}
.link-issues:hover a i {
  transform: rotate(360deg);
}
::selection {
  background-color: rgba(207, 69, 69, 0.2) !important;
  color: rgba(207, 69, 69, 1) !important;
}
.headline h2,
.headline h3,
.headline h4 {
  border-bottom: 2px solid #d14a4c;
}
.copyright p {
  margin-top: 0px !important;
}
.morelink {
  text-align: right;
  font-size: 12px;
  color: #fff;
}
.morelink a {
  color: rgba(255, 255, 255, 0.7) !important;
  text-decoration: none;
  padding-left: 10px;
}
.morelink img {
  position: relative;
  top: -2px;
  height: 14px;
}
.morelink a:hover {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: underline;
}
.navbar .container {
  width: 90% !important;
}
.header-v5 .navbar-header {
  margin-right: 0 !important;
}
.navbar-toggle {
  margin-right: -10px;
}

.navbar .language {
  display: block;
  float: left;
  width: auto;
}
.navbar .language li {
  float: left;
  display: block;
  margin-top: 12px;
  margin-left: 5px;
}
.navbar .language a {
  padding: 3px 5px;
  color: #555;
}
.ko .ko,
.cn .cn,
.en .en {
  font-weight: bold;
  border-bottom: 2px solid rgba(207, 69, 69, 0.8);
}
.cn .weProvide p {
  height: 40px;
}
.en .weProvide h3 {
  line-height: 1.4;
  height: 35px;
}
.en .weProvide p {
  height: 70px;
  font-size: 13px;
}
div.redbg {
  display: block;
  position: relative;
  float: right;
  margin-top: -9%;
  margin-right: 54.5%;
  z-index: 1000;
}
a.redbg {
  display: inline-block;
  margin-bottom: 7px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: #fff;
}
.operatoMarket strong {
  font-size: 16px;
}
.operatoMarket ol {
  list-style: decimal;
  margin-left: 12px;
}
.progress.vertical {
  margin: 0 10px 0 0;
}
.operatoMarket h4 {
  position: relative;
  top: -55px;
  font-size: 12px;
  color: #fff;
}
.operatoMarket .value {
  font-size: 11px;
  font-weight: bold;
}
.operatoMarket .col-xs-2 {
  padding: 0 7px;
}
.detailFeature {
  margin: 40px 0;
}
.detailFeature h3 {
  background-color: #3b999c;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.detailFeature li {
  text-align: left;
}
.detailFeature li::before {
  content: "";
}
.feature-img img {
  max-width: 95%;
  margin: 10px 0 25px 0;
  text-align: center;
}
.feature-img li {
  padding-bottom: 5px;
  font-size: 16px;
  text-align: left;
}
.feature-img li::before {
  content: "";
  display: block;
  float: left;
  margin: 8px 5px 12px 0;
  width: 7px;
  height: 7px;
  border: 2px solid #39c2c7;
  border-radius: 3px;
}
.feature-img-middle img {
  max-width: 70%;
  margin: 10px 0 25px 0;
  text-align: center;
}
.video-img {
  border-radius: 5px;
  border: 2px solid #444;
  border-width: 2px 2px 4px 2px;
  border-bottom-color: #303030;
  overflow: hidden;
}
.breadcrumb {
  margin: 0;
  margin-top: -40px;
  padding: 0;
  float: right;
}
.breadcrumb a {
  color: #fff;
}
[sitemap] > li {
  width: 19%;
  margin-right: 1%;
  float: left;
}
[sitemap] > li:last-child {
  width: 20%;
  margin-right: 0;
}
[sitemap] .title {
  font-weight: bold;
  font-size: 15px;
  color: #d14a4c;
  text-transform: capitalize;
}
[sitemap] li li a {
  width: 90%;
  display: block;
  padding: 5px 0 3px 0;
  border-bottom: 1px dotted #ccc;
  color: #333;
}
[sitemap] li li a:hover {
  text-decoration: none;
  color: rgb(209, 74, 76);
  border-bottom: 1px dotted rgba(209, 74, 76, 0.5);
}
[sitemap] li li a::before {
  content: "-";
  margin-right: 5px;
}
@media (min-width: 992px) {
  .navbar .language {
    margin-top: 15px;
  }
}
@media screen and (max-width: 460px) {
  div.redbg {
    margin-top: -10.5%;
    margin-right: 13%;
  }
  a.redbg {
    margin-bottom: 0;
    padding: 1px;
    font-size: 11px;
  }
  [sitemap] > li {
    width: 49%;
  }
  [sitemap] > li:last-child {
    width: 50%;
  }
  .navbar .container {
    width: 95% !important;
  }
  .navbar .language a {
    font-size: 12px;
    padding: 3px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1650px) {
  div.redbg {
    margin-top: -6%;
  }
  .wrapper {
    max-width: 1400px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
  }
}
@media screen and (min-width: 1651px) and (max-width: 1920px) {
  div.redbg {
    margin-top: -4%;
  }
  .wrapper {
    max-width: 1400px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
  }
}
@media screen and (min-width: 1921px) {
  .wrapper {
    max-width: 1400px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
  }
  div.redbg {
    margin-top: -4%;
  }
}
